* {
    margin: 0;
    padding: 0;

}

body {

    // nav{
    //     position: fixed;
    // }
    .n-btn{
        background-image: linear-gradient(#363636, #363636);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s, color .5s;
    }
    .n-btn:hover{
        background-size: 100% 100%;
        color: #fff;
    }
    .carousel1 {
        .img1 {
            background-image: url(../../../../public/img/slider.jpg);
            background-size: cover;
            height: 90vh;
            display: flex;
            align-items: center;

            button {
                height: 50px !important;
            }
        }
        

        .img2 {
            background-image: url(../../../../public/img/slider2.jpg);
            background-size: cover;
            height: 90vh;
            display: flex;
            align-items: center;

            button {
                height: 50px !important;
            }
        }

        .img3 {
            background-image: url(../../../../public/img/slider3.jpg);
            background-size: cover;
            height: 90vh;
            display: flex;
            align-items: center;

            button {
                height: 50px !important;
            }
        }
    }

    // part1 full scss
    .first-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        position: relative;


        .text1 {
            h1 {
                width: 55%;
            }

            padding-inline: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5vh;

            &::before {
                content: "";
                position: absolute;
                top: 65vh;
                left: 60vw;
                width: 8vw;
                border-bottom: dotted dodgerblue 3px;
            }
        }

        .first-row {
            display: flex;
            height: 40vh;
            padding-inline: 10%;
            justify-content: space-around;

            &::before {
                content: "";
                position: absolute;
                top: 65vh;
                left: 30vw;
                width: 8vw;
                border-bottom: dotted dodgerblue 3px;
            }

            .emergency {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                align-content: center;
                text-align: center;


                .icon-border {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: $bleu;
                        font-size: 50px;
                        display: flex;
                        border: solid 1px gray;
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        align-items: center;
                        justify-content: center;

                    }
                }

            }
        }
    }

    .blockquote {
        .image2 {
            background-image: url(../../../../public/img/blockqoute-bg.jpg);
            background-size: cover;
            height: 40vh;
            display: flex;
            align-items: center;
            padding: 10%;

            .column1 {
                color: white;
                display: flex;
                flex-direction: row;
                width: 75vw;
                gap: 1vw;

                i {
                    color: white;
                    font-size: 35px;
                    display: flex;
                    border: solid 1px white;
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    align-items: center;
                    justify-content: center;

                }
            }
        }

    }

    .sec3 {
        .sec3-div1 {
            display: flex;
            flex-direction: column;
            height: 40vh;
            justify-content: space-around;
            align-items: center;

            h2 {
                width: 450px;
                text-align: center;
            }

            p {
                width: 450px;
                text-align: center;
            }
        }

        .icon1 {
            display: flex;
            flex-wrap: wrap;
            width: 500px;
            gap: 20px;

            div {
                display: flex;
                justify-content: space-between;
                gap: 10px;

                i {
                    font-size: 20px;
                    color: dodgerblue;
                }
            }
        }
    }

    .text2 {
        h1 {
            width: 55%;
            text-align: center;
        }

        padding-inline: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    // part3
    .blockquote {
        background-color: $bleu;

        .image2 {
            width: 100%;
            height: 100%;
            background-image: url(../../../../public/img/blockqoute-bg.jpg);
            background-size: cover;
            background-attachment: fixed;
            opacity: 50%;
            height: 40vh;
            display: flex;
            align-items: center;
            padding: 10%;
            position: relative;

            & ::before {
                background-attachment: fixed;
                position: absolute;
            }

            .column1 {
                color: white;
                display: flex;
                flex-direction: row;
                width: 75vw;
                gap: 1vw;
                z-index: inherit;

                i {
                    color: white;
                    font-size: 35px;
                    display: flex;
                    border: solid 1px white;
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    align-items: center;
                    justify-content: center;

                }


            }
        }

    }

    .text2 {
        h1 {
            width: 55%;
            text-align: center;
        }

        padding-inline: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }


    .douneed {
        height: 40vh;
    }

    .sec-6text {
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .heading3 {
            padding: 7px;
            height: 7vh;
        }

        .para3 {
            height: 15vh;
        }
    }

    .sec-6heads {
        .heads-6 {
            display: flex;
            height: 20vh;
            justify-content: space-between;

            i {
                padding: 10px;
                color: blue;
            }

            .vid_sec6 {
                height: 10vh;
                display: flex;
            }
        }
    }

    .section6 {
        .div1 {
            h1 {
                width: 45vw;
            }

            p {
                width: 35vw;
            }
        }
    }

    .icon-card {
        font-size: larger !important;
    }

    .parent-pic {
        background-image: url(../../../../public/img/client-bg.jpg);
        width: 100%;
        height: 40vh;
        gap: 2vh;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: space-around;
        align-items: center;

        .children-pic {
            img {
                width: 25% !important;
            }
        }


    }

    // test
    .boton-1 {
        position: relative;
        display: inline-block;
        color: white;
        background-image: linear-gradient(#363636, #363636);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s, color .5s;
    }

    .boton-1:hover {
        background-size: 100% 100%;
        color: #fff;
    }

    .sign-up {
        height: 40vh !important;
        background-color: $bleu-light;

        .right-part {
            width: 800px !important;
            background-color: red;

            .inputs {
                width: 120px !important;
            }
        }
    }

    footer {
        .last-div {
            div {
                input {
                    &::placeholder {
                        color: white;
                    }
                }
            }
        }
    }
    
}

@media (max-width:430px) {
    .carousel1 {
        width: 100vw !important;
        height: 90vh !important;
        display: flex;
        justify-content: space-around !important;

        .img1 {
            width: 100vw !important;
            height: 70vh !important;
            background-position: top;
            background-size: 400px;
            background-size: auto;
            gap: 100px !important;
        }

        .img2 {
            width: 100vw !important;
            height: 70vh !important;
            background-position: top;
            background-size: 400px;
            background-repeat: no-repeat;
            background-size: auto;
            gap: 100px !important;
        }

        .img3 {
            width: 100vw !important;
            height: 70vh !important;
            background-position: top;
            background-size: 400px;
            background-repeat: no-repeat;
            background-size: auto;
            gap: 100px !important;
        }

        .carou-text {
            width: 90% !important;
            height: 90vh;
            text-align: start;
            padding: 5px;
            font-size: small;

        }

        button {
            width: 60vw !important;
            height: 1vw !important;
            text-align: center;
        }
    }

    .first-container {
        width: 100vw !important;
        display: flex;
        flex-direction: column !important;
        justify-content: right !important;

        .text1 {

            h1 {
                width: 90vw !important;
            }

            p {
                width: 90vw !important;
            }
        }

    }

    .sec3 {
        .sec3-div1 {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            .fifth-video{
                width: 50vw !important;
                height: 50vh;
            }
            h2 {
                width: 350px;
                text-align: center;
            }

            p {
                width: 350px;
                text-align: center;
            }
        }
    }

    .div1 {
        height: 70vh !important;
        display: flex;
        align-items: center;

        h1 {
            width: 100% !important;
            text-align: center;
        }

        p {
            width: 90% !important;
            text-align: center;
        }

        img {
            width: 100px;
        }
    }

    .cardss {
        height: 220vh;
        justify-content: space-around !important;
        display: flex;
        flex-direction: column;
    }



    .first-row {
        flex-direction: column;
        align-items: center;
        height: 120vh !important;

        p {
            width: 100vw;
        }
    }

    .parent-pic {
        height: 150vh !important;

        .children-pic {
            height: 100% !important;
            width: 100% !important;

            img {
                height: 12vh !important;
                width: 12vw !important;
            }

        }
    }

    .blockquote {
        .image2 {
            width: 100vw !important;
            height: 120vh !important;
            flex-direction: column !important;
            align-items: center !important;

            i {
                align-items: center;
                display: flex;
            }

            .column1 {
                flex-direction: column !important;
                width: 100vw !important;
                align-items: center;

                .text {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 5px;
                }
            }
        }
    }

    .text2 {

        h1 {
            width: 70vw !important;
            font-size: large;
        }

        p {
            width: 90vw !important;
            text-align: center;
        }

    }

    .douneed {
        height: 90vh !important;

        h1 {
            width: 100vw;
        }

        p {
            width: 100vw;
        }

        button {
            width: 50vw;
        }
    }

    .sec-twelve {
        .text-scss {
            h3 {
                width: 80% !important;
            }

            p {
                width: 80% !important;
            }
        }

        .log {
            .log1 {
                width: 96% !important;

                div {
                    width: 100% !important;
                }
            }

            .log2 {
                width: 96% !important;

                div {
                    img {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}